
.custom-navbar {
    background-color: #676698;
}

.custom-navbar-index a {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    margin: 1%;
}

.login-container {
    width: 40%;
    margin-top: 8%;
}

body {
    background-color: #d9d9d9;
}

.main-tittle {
    width: fit-content;
    padding: 1%;
    padding-right: 15%;
    font-size: 1.2em;
    background: rgb(103,102,152);
    background: linear-gradient(180deg, rgba(103,102,152,1) 4%, rgba(103,102,152,1) 5%, rgba(29,146,154,0) 100%);
}

.sub-tittle {
    margin-bottom: 0 !important;
    padding: 1.5%;
    font-weight: bold;
}

.table td, .table th {
    padding: .45rem;
    vertical-align: middle;
    border-top: none;
}

thead.thead-light {
    background: white;
    color: #3b63bf;
}

table.table-striped tbody tr td:nth-child(2) {
    color: #3b63bf;
}

.btn-light {
    /*color: #0b47ce;*/
    color: #3b63bf;
    /*color: #5470b1;*/
    font-weight: bold;
}

.empty-cell {
    padding-left: 10% !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #EEEFF0;
}

.search-container {
    background-color: #DEDFE0;
    padding: 2%;
}
.search-container label{
    font-weight: bold;
}

form label {
    white-space: nowrap;
}

.action-container {
    background-color: #CBCBD0;
    border-top: 3px solid gray;
    padding: 0.5%;
}

.left-padding-align {
    padding-left: 3%;
}

.left-margin-align {
    margin-left: 3%;
}
