<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
		id="WebApp_ID" 
		version="4.0">
    <display-name>Laboratorio de Histopatologia</display-name>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>./WebContent/WEB-INF/c.tld</taglib-location>
        </taglib>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>me.astridcortez.hispatologialab.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicamentosServlet</servlet-name>
        <servlet-class>me.astridcortez.hispatologialab.medicamentos.MedicamentosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicamentosServlet</servlet-name>
        <url-pattern>/MedicamentosServlet.do</url-pattern>
    </servlet-mapping>

</web-app>